td {
    padding: 5px;
    border: 1px solid black;
}
table {
    border: 1px solid black;
}
.flashes {
    position:absolute;
    width:50%;
    left:25%;
}
.flashes div {
    border: 1px solid black;
    text-align: center;
    padding:20px;

}
.flashes .message {
    background-color: lightgreen;
}

.flashes .error {
    background-color: orange;
}
.dump {
    background-color: #666;
}
.dump.week0 {
    background-color:white;
}
.dump.week1 {
    background-color: #ccc;
}
.dump.week2 {
    background-color: #999;
}
.dump.week3{
    background-color: #666;
}
.dump.savepoint{
    background-color:chocolate;
}


div.float {
    display:inline-block;
    margin:10px;
    padding:10px;
    border: 1px dashed gray;
}

div.float h2 {
    margin-top: 0px;
}

.lock {
    border:none;
    font-size:x-large;
    background-color:inherit;
}

td {
  vertical-align: middle;
}

form {
    margin:0px;
}