<html>
<head>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <h1><a href="/">Database dump manager</a></h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes>
    {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
    <script type="text/javascript">
        setTimeout(() => {
            Array.from(document.getElementsByClassName("flashes")).forEach(x => x.parentNode.removeChild(x))
        }, 5000);
    </script>
  {% endif %}
{% endwith %}



<h1>{{database.name}}</h1>
<p>{{database.message}}</p>
<div>
    <div class="float">
        <h2>Make dump</h2>
        <p>Make a database dump, if no name then use timestamp.</p>
        <form action="/dump">
            <input type="hidden" name="database" value="{{database.name}}" />
            <input name="dumpname" />
            <button type="submit">Make dump</button>
        </form>
    </div>
    <div class="float">
        <h2>Set prefix</h2>
        <p>Set prefix for dumps</p>
        <form action="/prefix">
            <input type="hidden" name="database" value="{{database.name}}" />
            <input name="prefix" value="{{database.prefix}}" />
            <button type="submit">Set prefix</button>
        </form>
    </div>
    <div class="float">
        <h2>Deploy</h2>
        <p>Makes a dump of current state, restores savepoint and sets prefix to branch name. </p>
        <form action="/deploy">
            <input type="hidden" name="database" value="{{database.name}}" />
            <input name="branch" value="" />
            <button type="submit">Deploy</button>
        </form>
    </div>
</div>
<div class="float">
    <h2>Dumps</h2>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Created</th>
        <th>Size</th>
        <th>Restore</th>
        <th>Download</th>
        <th>Lock</th>
        <th>Savepoint</th>
        <th>Delete</th>
        <th>Comment</th>
    </tr>
    {% macro row(item) -%}
    <tr class="dump {% if item.savepoint %} savepoint {% endif %} week{{item.weeks_old}} ">
        {% if item.success %}
        <td>✅</td>
        {% else %}
        <td title="dump broken">❌</td>
        {% endif %}
        
        <td>{{item.name}}</td>
        <td>{{item.created}}</td>
        <td>{{item.size}} mb</td>
        {% if item.success %}
        <td>
            <form action="/restore">
                <input type="hidden" name="database" value="{{database.name}}" />
                <input type="hidden" name="dumpname" value="{{item.name}}" />
                <button type="submit">Restore</button>
            </form>
        </td>
        {% else %}
        <td style="color:gray; font-style: italic; text-decoration: line-through;" title="dump was not successful">Restore</td>
        {% endif %}
        <td><a href="/download?database={{database.name}}&dumpname={{item.name}}">Download</a></td>
        {% if item.lock %}
        <td>
            <form action="/lock">
                <input type="hidden" name="database" value="{{database.name}}" />
                <input type="hidden" name="dumpname" value="{{item.name}}" />
                <input type="hidden" name="lock" value="false" />
                <button title="flag set {{item.lock_timestamp}}" class="lock" type="submit">🔓</button>
            </form>
        </td>
        {% else %}
        <td>
            <form action="/lock">
                <input type="hidden" name="database" value="{{database.name}}" />
                <input type="hidden" name="dumpname" value="{{item.name}}" />
                <input type="hidden" name="lock" value="true" />
                <button type="submit" class="lock" title="flag set {{item.lock_timestamp}}">🔒</button>
            </form>
        </td>
        {% endif %}
        
        {% if item.savepoint %}
            <td></td>
        {% else  %}
            {% if not item.success %}
                <td  style="color:gray; font-style: italic; text-decoration: line-through;" title="this dump was not successful">make savepoint</td>
            {% else %}
                <td>
                    <form action="/savepoint">
                        <input type="hidden" name="database" value="{{database.name}}" />
                        <input type="hidden" name="dumpname" value="{{item.name}}" />
                        <button type="submit">Make savepoint</button>
                    </form>
            {% endif %}
        {% endif %}
        
        {% if savepoint %}
            <td  style="color:gray; font-style: italic;" title="can't delete savepoint">Delete</td>
        {% else %}
        {% if item.lock %}
                <td  style="color:gray; font-style: italic;" title="dump is locked">Delete</td>
            {% else %}
                <td>
                    <form action="/delete">
                        <input type="hidden" name="database" value="{{database.name}}" />
                        <input type="hidden" name="dumpname" value="{{item.name}}" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            {%endif %}
        {% endif %}
        <td>
            <form action="/comment">
                <input type="hidden" name="database" value="{{database.name}}" />
                <input type="hidden" name="dumpname" value="{{item.name}}" />
                <input name="comment" value="{{ item.comment }}" />
                <button type="submit">save</button>
            </form>
        </td>
    </tr>
    {%- endmacro %}
    {% for item in database.dumps %}
        {{row(item)}}
    {% endfor %}
</table>
</div>

</body>
</html>