<html>
<head>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
        
    <h1><a href="/">Database dump manager</a></h1>
<ul>
{% for database in databases %}

<li><a href="/{{database.name}}">{{database.name}}</a></li>
{% endfor %}
</ul>
</body>
</html>
